<!DOCTYPE html>
<html>
<head>
<title>NEWS Index</title>
</head>
<body>
  <%- include ../modules/_globalHeader -%>
  <h2>NEWS Index</h2>
  <ul>
    <% articles.forEach(function (article) { %>
      <li>
        <a href="/news/<%= article.title %>"><%= article.title %></a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
