<!DOCTYPE html>
<html>
<head>
<title>NEWS Index</title>
</head>
<body>
  <%- include ../modules/_globalHeader -%>
  <h2>NEWS Index</h2>
  <ul>
    <li>
      <a href="/news/show">show</a>
    </li>
  </ul>
</body>
</html>
